* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  background: url("./dragon.jpeg");
  background-size: cover;
}
#search {
  position: relative;
  height: 15vh;
  width: 98vw;
  background-color: rgb(27, 25, 25);
  padding-left: 1em;
  border-radius: 1em 1em 1em 1em;
}
#search i {
  position: absolute;
  top: 2.3em;
  left: 21.5em;
  font-size: 1.5em;
  opacity: 0.4;
  z-index: 0;
}
#search select {
  border-radius: 1em 1em 1em 1em;
  padding-left: 1.5em;
  font-size: 1.2em;
  height: 3em;
  border: 3px solid yellow;
}
#search #searchEpisode {
  width: 25%;
  height: 3em;
  margin: 2em auto 2em 1em;
  border-radius: 1em 1em 1em 1em;
  padding-left: 2em;
  font-size: 1.2em;
  border: 3px solid yellow;
}
#search #displaying {
  padding-left: 1em;
  font-size: 1.2em;
  color: white;
  font-weight: bolder;
}
#root {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2em;
  color: black;
  margin-top: 3em;
}

#root div {
  box-shadow: 1px 1px 5px gainsboro;
  background-color: rgb(27, 25, 25);
  text-align: center;
  border-radius: 1.3em 1.3em 1em 1em;
}

#root div h2 {
  background-color: yellow;
  border-radius: 1em 1em 1em 1em;
  border: 3px solid rgb(27, 25, 25);
  padding: 0.5em 0.5em;
  margin-top: 0;
}

#root div p {
  opacity: 0.7;
  text-align: left;
  margin: 1em;
  color: white;
}

#root div img {
  border: 1px solid yellow;
}
button {
  border-radius: 1em 1em 1em 1em;
  height: 3em;
  width: 12em;
  font-size: 1.2em;
  background-color: yellow;
}

footer {
  padding: 3em;
  color: white;
}
